#page {
    text-align: center;
    background-color: darkgray;
    border-radius: 10px;
}

body {
    text-align: center;
    background-color: dimgray;
}



#homeImage {
    align-content: center;
    height: 200px;
    width: 300px;
}

#UserInput {
    width: 280px;
}

#img1 {
    height: auto;
    width: auto;
}

#img2 {
    height: auto;
    width: auto;
}

#img3 {
    height: auto;
    width: auto;
}

#img4 {
    height: auto;
    width: auto;
}

#img5 {
    height: auto;
    width: auto;
}