<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Get a click bate title!">
    <meta name="author" content="TBD">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='style.css') }}">
<Title>Buzzfeed Boy</Title>    
</head>
<body>
    <div id="page">
        <h1>Buzzfeed Generator</h1>
        
        <img id="homeImage" src={{picture}} alt={{picture}}>
        
        <form id="UserInputForm" action="/">
            Enter some words you want in the title.<br>
            <input id="agj1" type="text" name="keywords" placeholder="Enter first adjective."><br>
            <input id="nown1" type="text" name="keywords" placeholder="Enter first nown."><br>
            <br>
            <input id="agj2" type="text" name="keywords" placeholder="Enter second adjective."><br>
            <input id="nown2" type="text" name="keywords" placeholder="Enter second nown."><br>
            <br>
            <button id="generateTitle" type="button">Generate Title!</button>
        </form>
        <footer>
            Contact Info: WIP
        </footer>
    </div>
</body>
</html>