<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Get a click bait title!">
    <meta name="author" content="TBD">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<Title>Buzzfeed Boy</Title>
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Buzzfeed Boy</a>
        </div>
        <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    </div>

</nav>
<body>
    <div class="container-fluid text-center">
        <h1>Buzzfeed Generator</h1>

        <div class="thumbnail">
            <!--<img id="homeImage" src={{picture}} alt={{picture}}>-->
            <img src="{{url_for('static',filename="homeImage.jpeg")}}" class="img-responsive" alt="picture">

            <div class="row">
                <div class="col-md-10 col-md-offset-1 center-text">
                    <div class="btn-group">
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Number of Adjectives
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li>1</li>
                                <li class="divider"></li>
                                <li>2</li>
                                <li class="divider"></li>
                                <li>3</li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Number of Nouns
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>1</li>
                                <li class="divider"></li>
                                <li>2</li>
                                <li class="divider"></li>
                                <li>3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 center-text">
                    <form action="/searchImage" method="post">
                        Enter some words you want in the title.<br>
                        <div class="form-group">
                        <input name="ajv1" type="text" placeholder="Enter adjective.">
                        <input name="noun1" type="text" placeholder="Enter noun.">
                        </div>
                        <button type="submit" class="bnt btn-default" formmethod="post" value="Submit">Generate Title!!!</button>
                    </form>
                </div>
            </div>
        </div>

        <footer>
            <div class="thumbnail">
                <p>Contact Info: WIP</p>
            </div>

        </footer>
    </div>
</body>
</html>
