<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Get a click bait title!">
    <meta name="author" content="TBD">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='style.css') }}">
<Title>Buzzfeed Boy</Title>    
</head>
<body>
    <div id="page">
        <h1>Buzzfeed Generator</h1>
        
        <img id="homeImage" src={{picture}} alt={{picture}}>
        
        <form action="/searchImage" method="post">
            Enter some words you want in the title.<br>
            <input name="ajv1" type="text" placeholder="Enter adjective."><br>
            <input name="noun1" type="text" placeholder="Enter noun."><br>
            <br>
            <button name="generateTitle" type="submit" formmethod="post" value="Submit">Generate Title!!!</button>
        </form>
        <footer>
            Contact Info: WIP
        </footer>
    </div>
</body>
</html>